<% if book.favorited_by?(current_user) %>
  <%= link_to book_likes_path(book), method: :delete, remote: true do %>
    <span class="glyphicon glyphicon-heart"><%= book.likes.count%></span>
  <% end %>
<% else %>
  <%= link_to book_likes_path(book), method: :post, remote: true do %>
    <span class="glyphicon glyphicon-heart-empty"><%= book.likes.count %></span>
  <% end %>
<% end %>